.m-btn{
    height: 40px;
    padding: 0px 24px;
    background-color: #019160;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    border: none;
    min-width: 100px;
    cursor: pointer;
}

.m-btn:hover{
    background-color: #2FBE8E;
}

.m-btn:active{
    background-color: #01B075;
}

.m-btn-icon{
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 16px center;
    padding-left: 40px;
    padding-right: 16px;
}