.m-input{
    height: 40px;
    border-radius: 4px;
    border-color: #bbb;
    border-width: 1px;
    padding: 0px 16px;
    outline: unset;
    border-style: solid;
    box-sizing: border-box; 
    /*bình thường, độ rộng sẽ bằng độ rộng text + padding + border size, 
    thuộc tính này giúp tính tổng size của text = text + padding + border size luôn*/
}
.m-input:focus{
    border-color: #019160;
    color: #000;
    font-size: 13px;
}

.m-input::placeholder{
    font-size: 11px;
    color: #bbb;
}

.m-input-error{
    border-color: #FF4747;
}

.m-error-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 2px;
    padding: 0 16px;
    border-radius: 4px;
}

.m-error-info .m-error-text{
    position: relative;
    background-color: #FF4747;
    border-radius: 4px;
    color: #fff;
    padding: 8px 8px;
    text-align: center;
    box-sizing: border-box;
}

.m-error-info .m-error-arrow{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #FF4747;
    top: 85%;
    left: 47%;
    transform: rotate(45deg);
    z-index: 9999;
    box-sizing: border-box;
}

.m-input-icon{
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 40px;
    padding-right: 16px;
}

