.m-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: unset;
    border: unset;
}

.m-table tr{
    border-bottom: 1px solid #BBBBBB;
    height: 40px;
}

.m-table tr td,th{
    padding-left: 16px;
    padding-right: 10px;
}

.m-table .text-align-left{
    text-align: left;
}

.m-table .text-align-right{
    text-align: right;
}

.m-table .text-align-center{
    text-align: center;
}

.m-table tbody tr:hover{
    background-color: #E9EBEE;
    cursor: pointer;
}

.m-table tbody tr.m-row-selected{
    background-color: #E3F3EE;
}