<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="dialog" id="dialog-notice">
        <div class="dialog-wrapper">
            <div class="dialog__header">
                <div class="header__text">Dữ liệu không hợp lệ</div>
                <div class="header__icon">
                    <div class="icon-exit">
                        <div class="icon--exit"></div>
                    </div>
                </div>
            </div>
            <div class="dialog__content">
                <li>Mã nhân viên không hợp lệ</li>
                <li>Ngày sinh không được lớn hơn ngày hiện tại</li>
                <li>Email không đúng định dạng</li>
            </div>
            <div class="dialog__footer">
                <button class="button button--primary">Đồng ý</button>
            </div>
        </div>
    </div>
</body>
</html>