.slide-bar{
}
.slide-bar__item{
    display: flex;
    margin: 2px 12px 0 12px;
    align-items: center;
    height: 44px;
    cursor: pointer;
}
.slide-bar__item--active{
    background-color: #a7c4ff3e;
}
.slide-bar__item:hover{
    background-color: #27395e90;
}
.slide-bar__item:nth-child(1){
    margin-top: 20px;
}
.slide-bar__icon{
    width: 24px;
    height: 24px;
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-bar__item-name{
    color: #869AB8;
    font-family: Roboto Medium;
}