.nav{
    display: flex;
    align-items: center;
}

/*Nav Left*/
.nav--left{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 200px;
    box-sizing: border-box;
}
.nav__icon-menu{
    margin: 0px 20px;
}

.nav__icon-logo{
    margin-right: 12px;
}

.nav__label{
    font-family: Roboto Bold;
    font-size: 20px;
    color: #2F2F2F;
    font-weight: 500;
    margin-right: 40px;
}
/*Nav Center*/
.nav--center {
    align-items: center;
}
.nav__input{
    display: flex;
    align-items: center;
    width: 385px;
    height: 36px;
    background-color: #F1F2F3;
    border-radius: 4px;
}
.nav__input:focus-within {
    border: 1px solid #50B83C; 
    /*focus-within dùng để chọn phần tử cha của phần từ input
    khi input đó được focus*/
}
.nav__input:hover .input__holder{
    background-color: #e6e6e6;
}
.nav__input:hover{
    background-color: #e6e6e6;
}
/*Nav Right*/
.nav--right{
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
}
.nav__icon{
    margin-right: 25px;
}