@import url(./components/button.css);
@import url(./components/combobox.css);
@import url(./components/dropdown.css);
@import url(./components/icon.css);
@import url(./components/input.css);
@import url(./components/menu.css);
@import url(./components/paging.css);
@import url(./components/popup.css);
@import url(./components/table.css);

@import url(./layout/content.css);
@import url(./layout/header.css);
@import url(./layout/nav.css);

@import url(../assets/font/fontawesome-5.15.1/css/all.min.css);
@import url(../assets/font/fontawesome-5.15.1/js/all.min.js);

body{

}

*{
    font-size: 14px;
}
@font-face {
    font-family: Roboto Medium;
    src: url(/assets/font/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto Regular;
    src: url(/assets/font/Roboto/Roboto-Regular.ttf);
}
:root{
    --color-primary: #007AFF;
    --border-radius: 4px;
    --border-color: #ccc;
    --border-color-hover: #007AFF;
    --height-primary: 36px;
    --border-width: 10px;
}
.row{
    width: 100%;
    margin-top: 4px;
}
.row__content{
    width: 100%;
    margin-top: 4px;
}