@import url(./components/button.css);
@import url(./components/input.css);
@import url(./components/icon.css);
@import url(./components/toast.css);
@import url(./components/table.css);
@import url(./components/paging.css);
@import url(./components/dialog.css);
@import url(../assets/font/fontawesome-5.15.1/css/all.min.css);
@import url(../assets/font/fontawesome-5.15.1/js/all.min.js);


body{
    font-family: GoogleSands;
}

@font-face {
    font-family: GoogleSands;
    src: url("../assets/font/GoogleSans-Regular.otf");
}

@font-face {
    font-family: GoogleSands Bold;
    src: url("../assets/font/GoogleSans-Bold.otf");
}

@font-face {
    font-family: GoogleSands Italic;
    src: url("../assets/font/GoogleSans-Italic.otf");
}

.m-row{
    width: 100%;
    margin-top: 4px;
}